[Unit]
Description = GPG Agent Socket Forwarder

[Service]
ExecStart = pipette.exe gpg-agent
StandardInput = socket
StandardOutput = socket
StandardError = journal
